
#service-section{

    .service{
        padding-bottom: 40px;
        
        .service-iteam{
            margin: 10px 0px;
            padding: 10px 20px;
            .service-box{
                height: 250px;
                margin: 5px 0px;
                padding: 15px;
                overflow: hidden;
                border-radius: 25px;
                position: relative;
                background: rgba(255, 255, 255, 0.2);
                box-shadow: 2px 5px 20px 7px rgb(3, 3, 3);
                transition: transform .6s;
                
                &:hover{
                    border-radius: 25px;
                    transform: scale(1.1,1.2);
                    background-color: rgba(255, 255, 255, 0.699);
                    box-shadow: 9px 10px 20px 4px rgb(7, 7, 7);
                    .service-icon{
                        top: -130px;
                    }
                    .text-area{
                        top: -130px;
                        color: rgb(0, 0, 0);
                    }
                    
                }
                .service-icon{
                    width: 100px;
                    height: 100px;
                    display: block;
                    margin-top: 5px;
                    margin-left: auto;
                    margin-right: auto;
                    position: relative;
                    top: 0;
                    transition: .9s ease-in-out;
                }
                .text-area{
                    position: relative;
                    top: 0;
                    transition: .9s ease-in-out;
                    .service-title {

                        @include h2();
                        color: #000;
                        width: auto;
                        text-align: center;
                        margin-top: 15px;
                        margin-bottom: 10px;
                        text-transform: uppercase;
                        border-bottom: 2px solid black ;
                    }
                    .service-sub-title{
                       text-transform: capitalize;
                        color: #000;
                        font-size: 16px;
                    }
                    .service-info {
                        @include p();
                        color: #000;
                        margin-top: 5px;
                        font-size: 14px; 
                    }
                    .read-more{
                        margin: 0;
                        padding: 0;
                        font-size: 16px;
                        text-transform: capitalize;
                        text-decoration: underline;
                        color: green;
                        &:hover{
                            color: blue;
                        }
                    }
                    
                }
        
            }

        }
      
    }
    @media screen and (max-width: 768px) {
        .service{
            .service-iteam{
                padding: 0px 20px !important;
            }
        }
       
    }
    @media screen and (max-width: 700px) {
        .service-iteam{
            padding: 0px 20px !important;
        }
    }
    
    @media screen and (max-width: 650px) {
        .service-iteam{
            padding: 0px 15px !important;
        }
    }
    
    @media screen and (max-width: 575px) {
        .service-iteam{
           
            width: 320px !important;
            margin: 10px auto !important;
        }
    }
    @media screen and (max-width: 475px) {
        .service-iteam{
            padding: 0px 40px !important;
        }
    }
}





